<div class="row time-targeting" ng-init="$ctrl.selectTimeTargeting($ctrl.model.defaultButtonSelected);">
    <div class="form-group">
        <div class="form-line">
            <div class="btn-group">
                <a href="" class="btn btn-outline" ng-class="{'btn-active': button.selected}" ng-click="$ctrl.selectTimeTargeting($index);" ng-repeat="button in $ctrl.model.buttons track by $index">
                    {{button.name}}
                </a>
                <a ng-show="$ctrl.model.reload == true" ng-click="$ctrl.selectByCoords(-1);" href="" class="undo">
                    <span class="undo-icon">
                        <i class="f-ico i-refresh"></i>
                    </span>
                    <span class="undo-text">
                        Сбросить
                    </span>
                </a>
            </div>
        </div>
    </div>
    <table class="checkbox-zone">
        <thead>
        <tr>
            <th></th>
            <th class="noselect" ng-click="$ctrl.selectColumn($index);" ng-repeat="hour in $ctrl.model.hours track by $index"><span>{{hour}}</span></th>
        </tr>
        </thead>
        <tbody ng-mouseup="$ctrl.selectEnd();" nng-mo="$ctrl.selectEnd();">
        <tr ng-repeat-start="day in $ctrl.model.days track by $index">
            <th ng-click="$ctrl.selectRow($index);" class="noselect"><span>{{day}}</span></th>
            <td ng-repeat="hour in $ctrl.model.hours track by $index"
                ng-mousedown="$ctrl.selectStart($parent.$index, $index);"
                ng-mouseup="$ctrl.selectEnd();"
                ng-mouseenter="$ctrl.selectEnter($parent.$index, $index);"
            >
                <div class="form-check">
                    <input type="checkbox" class="checkbox" id="wd-{{$parent.$index}}-h-{{$index}}"
                           ng-model="$ctrl.model.grid[$parent.$index][$index]"
                           ng-init="0"
                           ng-false-value="0"
                           ng-true-value="1"
                    >
                    <label for="wd-{{$parent.$index}}-h-{{$index}}">
                        <span class="form-check-control"
                        ></span>
                    </label>
                </div>
            </td>
        </tr>
        <tr ng-repeat-end="" ng-if="$ctrl.model.spacing.indexOf($index) != -1" class="time-targeting-spacing"></tr>
        </tbody>
    </table>
</div>